/* App.css */
body {
    background-image: url("sudoku.jpg");
    background-size: cover; /* Adjust this as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  